*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/sajeg/questrpc/secrets.kt
/app/release/
secrets.properties
keystore.properties
*.jks
*.keystore
